/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
    --global-bg-color: #ffffff;
    --global-code-bg-color: rgba(199, 0, 27, 0.05);
    --global-text-color: #000000;
    --global-text-color-light: #8A8B8C;
    --global-theme-color: #c7001b;
    --global-hover-color: #c7001b;
    --global-hover-text-color: #ffffff;
    --global-footer-bg-color: #1C1C1D;
    --global-footer-text-color: #C2C0BF;
    --global-footer-link-color: #ffffff;
    --global-distill-app-color: #8A8B8C;
    --global-divider-color: rgba(0, 0, 0, .1);
    --global-card-bg-color: #ffffff;
    --global-tip-block: #42b983;
    --global-tip-block-bg: #e2f5ec;
    --global-tip-block-text: #215d42;
    --global-tip-block-title: #359469;
    --global-warning-block: #e7c000;
    --global-warning-block-bg: #fff8d8;
    --global-warning-block-text: #6b5900;
    --global-warning-block-title: #b29400;
    --global-danger-block: #c00;
    --global-danger-block-bg: #ffe0e0;
    --global-danger-block-text: #600;
    --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"]{
    --global-bg-color: #1C1C1D;
    --global-code-bg-color: #2c3237;
    --global-text-color: #C2C0BF;
    --global-text-color-light: #C2C0BF;
    --global-theme-color: #A31F34;
    --global-hover-color: #A31F34;
    --global-hover-text-color: #ffffff;
    --global-footer-bg-color: #C2C0BF;
    --global-footer-text-color: #1C1C1D;
    --global-footer-link-color: #000000;
    --global-distill-app-color: #C2C0BF;
    --global-divider-color: #424246;
    --global-card-bg-color: #212529;
    --global-tip-block: #42b983;
    --global-tip-block-bg: #e2f5ec;
    --global-tip-block-text: #215d42;
    --global-tip-block-title: #359469;
    --global-warning-block: #e7c000;
    --global-warning-block-bg: #fff8d8;
    --global-warning-block-text: #6b5900;
    --global-warning-block-title: #b29400;
    --global-danger-block: #c00;
    --global-danger-block-bg: #ffe0e0;
    --global-danger-block-text: #600;
    --global-danger-block-title: #c00;


  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
